@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #30546e;
  text-shadow: 1px 1px 1px #d2e4f0;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-inline: auto;
}

h1, h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

img {
  border-radius: 15px;
}

ul {
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
    color: #d2e4f0;
    text-shadow: 1px 1px 1px #30546e;
    &:hover {
      color: #30546e;
      text-shadow: 1px 1px 1px #d2e4f0;
      text-decoration: underline;
    }
  }
}

